:root {
  --our-font: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  --border-cont: 1px solid white;
}

/*----------------  ---- ---- Configuración para la nueva página webb*/
body {
  background: linear-gradient(180deg, rgba(255,40,113,1) 0%, rgba(51,7,57,1) 100%);
}



.searcher-container {
  width: calc(100% - 232px);
}

.main-contaier {
  width: calc(100% - 232px);
  height: 100%;
  margin-top: 0%;
  padding: 0px;

  overflow-y: auto;
  position: relative;
}

.line-soft {
  display: none;
}


/*----------- -------------------- Header ---------------------- -----------------------*/
.header-container{
  width: 100%;
  position: absolute;
  top: 80px;
  left: 0px;
}
.post-autor{
  color: white;
  height: 500px;
  position: relative;
  
}

.post-autor img{
  width: 100%;
  object-fit: cover;
  height: 500px;
  position: absolute;
  right: 0px;
  top: 0%;
}

.post-autor::after{
  content: "";
  width: 100%;
  height: 501px;
  background: rgb(229,241,249);
  /*background: linear-gradient(180deg, rgba(229, 241, 249, 0.119) 0%, rgb(69 11 40) 95%);*/
  background-color: rgba(0, 0, 0, 0.445);
  position: absolute;
  top: 0%;
  left: 0px;
  z-index: 0;
}
/*Caja con la información del Artista*/

.artista{
  width: 100%;
  position: absolute;
  right: 0px;
  bottom: 0px;
  text-align: right;
  padding: 30px 30px 40px 20px;
  z-index: 1;
}
.artista h1{
  font-size: 6rem;
}

.artista h2{
  font-size: 4rem;
}
.img{
  width: 250px;
  height: 60px;
  position: absolute;
  bottom: 30px;
  left: 20px;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  justify-content: space-around;
  font-weight: bold;
}
.img img{
  width: 70px;
  height: 70px;
  position: relative;
}


/*SeHER */

.searcher-container{
  width: calc(100% - 232px);
  height: 80px;
  background-color: rgba(0, 0, 0, 0.219);
  -webkit-backdrop-filter: blur(8px);
  -moz-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.searcher-container input {
  
  left: 60px;
  top: 20px;
}

.searcher-container #nota {
  position: absolute;
  left: 68px;
  top: 27px;

}

.toggle-button {
  top: 20px;

}

/*Titlulo*/

.grupo{
  position: absolute;
  top: 22px;
  right: 200px;
  font-family: var(--our-font);
  color: rgba(255, 255, 255, 0.671);
  font-size: 0.8rem;
}
/*------ ------------- ----------- Contenedor ------------- ---------------- -------*/
.player-artist-playlist {
  width: 100%;
  height: 18%;

  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 100px;
  margin-top: 600px;
}

/*Resolución de 1890px --- cambio de la imagen del header y el margin top de la playlist*/
@media screen and (min-width: 1820px) {
  .post-autor,
  .post-autor img{
    height: 600px;
  }
  .post-autor::after{
    height: 600px;
  }

  .img img{
    width: 70px;
    height: 70px;
    position: relative;
  }

  .player-artist-playlist{
    margin-top: 700px;
  }
}
.buton-play{
  width: 75px;
  height: 75px;
  background-color: rgba(255,40,113,1);
  color: white;
  border-radius: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.555);

  transition: 0.5s ease-in-out;
}

.buton-play i{
  margin-left: 6px;
  font-size: 2.2rem;
}

.buton-play:hover{
  transform: scale(1.03);
}

/*Ir a Albums*/

.ir-albums{
  width: 130px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.664);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;

  color: rgba(255, 255, 255, 0.664);
  transition: 0.4s ease-in-out;
}
.player-artist-playlist a{
  text-decoration: none;
}

.ir-albums:hover{
  color: white;
  border: white 1px solid;
}

#descrip {
  padding-left: 15%;
  width: 60%;
  text-align: justify;
  font-size: 1vw;
}

/* ---------- ----------- --------- lista de Reproducción -------- ------------- ---------*/

.play-list-songs-artist {
  width: 100%;
  padding: 25px;

  overflow-y: auto;
}
.play-list-songs-artist h1{
  margin-left: 50px;
  margin-bottom: 50px;
  font-size: 1.6rem;
}

.data-song {
  width: 90%;
  height: 45px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-around;

  border-bottom: #878787 solid 1px;
}

.data-song h4 {
  font-weight: normal;

  width: 20%;
  text-align: center;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.song-description {
  width: 90%;
  height: 50px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-around;
  color: rgb(201, 200, 200);

  /*border-bottom: #c5c5c5 solid 1px;*/

  transition: 0.3s;
  border-radius: 4px;
}

.song-description:hover {
  background-color: rgba(255, 255, 255, 0.425);
}

.song-description p {
  font-weight: normal;
  font-size: 1.6vh;

  width: 20%;
  text-align: center;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#number {
  width: 10%;
}

.active {
  color: white;
  background-color: rgba(255, 255, 255, 0.212);
  width: 90%;
  height: 50px;
}
/*------  ---- ---- --CARRUCEL DE LA lISTA DE ALBUMS ---- ---- ---- ---- --- --- ---*/

.container-albums {
  margin-top: 50px;
  padding: 15px 90px;
}

.albums-artista {
  width: 100%;
  padding: 15px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.album {
  width: 220px;
  transition: 0.3s ease all;
  margin: 0px 15px;
  padding: 15px;
  cursor: pointer;
}

.album:hover {
  transform: scale(1.05);
  transform-origin: center;
  transition: 0.5s;

  background-color: rgba(0, 0, 0, 0.452);
  border-radius: 15px;
}

.album img {
  width: 100%;
  border-radius: 10px;
}

.album h4 {
  margin-top: 10px;
  text-align: center;
}

.album h5 {
  font-weight: normal;
  text-align: center;
}

.album i {
  font-size: 4vmin;
  position: absolute;
  left: 67%;
  top: 60%;
  text-shadow: -3px 3px 6px #000;

  opacity: 0;
  transition: 0.5s;
}

.album:hover i {
  opacity: 1;
}
