:root{
    --our-font: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    --border-cont: 1px solid white;

}
body {
    background: rgb(84,28,249);
    background: linear-gradient(180deg, rgba(255,40,113,1) 0%, rgba(51,7,57,1) 100%);
    
}

.my-play-list:hover {
    color: #07175f !important;
}


header{
    height: 45vh;
    min-height: 375px;
    background-color: rgba(0, 0, 0, 0.507);
    
    color: white;

    font-family: var(--our-font);
}


.searcher-container{
    width: calc(100% - 232px);
    
}

.main-contaier{
    width: calc(100% - 232px);
    height: calc(100% - 45vh);
    margin-top: 45vh;

    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.507);
}
/* ---- ---- --- ---- ----- ----- Header play list ----- ----- ----- ---- ---- ---- */

.container-info-playlis{
    width: 100%;
    height: 65%;

    margin-top: 15vh;

    display: flex;
}

.container-info-playlis img{
    height: 100%;
    min-height: 189.75px;
    border-radius: 15px;

    -webkit-box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.644);
    filter: shadow(color=#000, direction=0, strength=3);
}

.content-playlist{
    min-width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    padding: 25px 5px;
}
.content-playlist{
    margin-left: 3vw;
}
.content-playlist a{
    text-decoration: none;
}

.content-playlist a h2{
    font-weight: normal;
    font-size: 3vh;
    color: white;
    
}
.content-playlist h1{
    font-size: 5vw;
    /*white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
}

.content-playlist h3{
    font-size: 2vh;
}

/*------ ------- ------ BUtom */
.controls-play-list{
    width: 100%;
    height: 18%;
    padding: 10px 18px;
    display: flex;
    align-items: center;

}


.content-playlist a{
    color: white;
    text-decoration: none;
}

.controls-play-list a p{
    margin: 0px 3px 0px 20px;
    color: white;
    text-decoration: none;
}


.buton-play{
    width: 75px;
    height: 75px;
    background-color: rgba(255,40,113,1);
    color: white;
    border-radius: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.555);
  
    transition: 0.5s ease-in-out;
    margin-left: 20px;
  }
  
.buton-play i{
    margin-left: 6px;
    font-size: 2.2rem;
  }
  
.buton-play:hover{
    transform: scale(1.03);
}
  
  /*Ir a Albums*/
  
.ir-albums{
    width: 160px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.664);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
  
    color: rgba(255, 255, 255, 0.664);
    transition: 0.4s ease-in-out;

    margin: 0px 30px;
  }
  .controls-play-list a{
    text-decoration: none;
    margin: 0px;
  }
  
.ir-albums:hover{
    color: white;
    border: white 1px solid;
}


.controls-play-list .icon-dot-3{
    font-size: 3vh;
    cursor: pointer;
    margin-left: 3vw;
}


/* Boton para escuchar-------------------------------------------------------------------- */


@media screen and (max-width:1150px){


    #album_section {
        display: none;

    }
    #album {
        display: none;
    }
}

@media screen and (max-width:770px){

    #artist_section {
        display: none;
    }

    #artist {
        display: none;
    }
}


/* ---------- ----------- --------- lista de Reproducción -------- ------------- ---------*/

.play-album-artist {
    width: 100%;
    padding: 25px;
  
    overflow-y: auto;
  }
  .play-album-artist h1{
    margin-left: 50px;
    margin-bottom: 50px;
    font-size: 1.6rem;
  }
  
  .data-song {
    width: 90%;
    height: 45px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-around;
  
    border-bottom: #878787 solid 1px;
  }
  
  .data-song h4 {
    font-weight: normal;
  
    width: 20%;
    text-align: center;
  
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .song-description-playlist {
    width: 90%;
    height: 50px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-around;
    color: rgb(201, 200, 200);
  
    /*border-bottom: #c5c5c5 solid 1px;*/
  
    transition: 0.3s;
    border-radius: 4px;
  }
  
  .song-description-playlist:hover {
    background-color: rgba(255, 255, 255, 0.425);
  }
  
  .song-description-playlist p {
    font-weight: normal;
    font-size: 1.6vh;
  
    width: 20%;
    text-align: center;
  
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  #number {
    width: 10%;
  }
  
  .active {
    color: white;
    background-color: rgba(255, 255, 255, 0.212);
    width: 90%;
    height: 50px;
  }

/*----- ------ ------ ----- NUEVAS mEDIA Q ----- ------ -------  ------*/

@media screen and (max-height: 836px) {
    .main-contaier{
        height: calc(100% - 375px);
        margin-top: 375px;
    }


    
    .container-info-playlis{
        margin-top: 110px;
    }

}
@media screen and (min-width: 1919px) {
    
    
    header{
        height: 500px;
    }
    .main-contaier{
        height: calc(100% - 500px);
        margin-top: 500px;
    }

}