:root {
  --blanco: #fafafa;
  --whit_gris: #eaebed;
  --negro: #1a1a1a;
  --rosa: #e16372;
  --morado: #794bf0;
  --our-font: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

/* Globales */
*,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  height: 100vh;
  position: relative;
  background: linear-gradient(
    86deg,
    rgba(227, 227, 227, 1) 0%,
    rgba(224, 223, 221, 1) 50%,
    rgba(218, 218, 218, 1) 100%
  );
  font-family: var(--our-font);
  font-size: 16px; /* 1rem = 10px*/
}

/* header */
.menu-top {
  z-index: 30;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  flex-wrap: wrap;
  width: 100%;
  height: 10%;
}

.logo {
  color: var(--negro);
  padding-left: 1rem;
  display: flex;
}

.logo img {
  width: 5rem;
  height: 5rem;
  align-items: center;
}

.logo_text {
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin: 0 1rem;
}
.menu-top .links a {
  padding: 0 1rem;
  text-decoration: none;
  font-weight: 600;
  color: var(--negro);
}

.content-rigth {
  color: var(--negro);
}

/* Me costo y creo que se termino buggeando pero se logro xd */

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.content-rigth {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  z-index: 20;
  position: absolute;
  right: 0;
}

.content-left {
  z-index: 10;
  position: absolute;
  left: 0;
  bottom: 0;
}

.girl {
  width: 100%;
}

/* formulario_registro */

h1.Title_principal {
  text-align: center;
  font-size: 3.6rem;
}

.Title_principal + p {
  font-weight: 500;
  text-align: center;
}

.formulario_registro {
  width: 100%;
}

.formulario_registro fieldset {
  border: none;
  padding: 0;
  width: 100%;
}

.campo {
  margin-bottom: 1.7rem;
}

.campo label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.campo input {
  font-size: 1.4rem;
  border: 1.4px solid #808080;
  padding: 1rem;
  border-radius: 2rem;
  width: 100%;
}

/* footer del forms */

.footer_forms {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lost_pass {
  text-align: center;
  color: #5e5d5d;
  text-decoration: none;
}

hr {
  width: 80%;
  border: 1px solid var(--negro);
  margin-bottom: 0;
}

.enviar {
  width: 70%;
  border: none;
  border-radius: 2rem;
  padding: 1rem;
  font-weight: 900;
  color: var(--blanco);
  background-image: linear-gradient(
    to right,
    var(--rosa) 0%,
    var(--morado) 100%
  );
}

/*-------------- botones --------------------*/

input[type="radio"] {
  display: none;
}

label.gender {
  margin-left: 37%;
  margin-right: 37%;
  position: relative;
  color: rgb(27, 27, 27);
  font-size: 1.4rem;
  border: 3px solid rgb(27, 27, 27);
  border-radius: 5px;
  padding: 0.5em 0.5em;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

input[type="radio"]:checked + label.gender {
  border-color: rgb(180, 16, 71);
  color: rgb(180, 16, 71);
}

