
.icon-heart:before { content: '\e800'; } /* '' */
.icon-heart-empty:before { content: '\e801'; } /* '' */
.icon-music:before { content: '\e802'; } /* '' */
.icon-menu:before { content: '\e803'; } /* '' */
.icon-right-open-big:before { content: '\e804'; } /* '' */
.icon-right-open-mini:before { content: '\e805'; } /* '' */
.icon-list:before { content: '\e806'; } /* '' */
.icon-layout:before { content: '\e807'; } /* '' */
.icon-plus-squared:before { content: '\e808'; } /* '' */
.icon-note:before { content: '\e809'; } /* '' */
.icon-left-open-big:before { content: '\e80a'; } /* '' */
.icon-left-open-mini:before { content: '\e80b'; } /* '' */
.icon-play:before { content: '\e80c'; } /* '' */
.icon-pause:before { content: '\e80d'; } /* '' */
.icon-fast-fw:before { content: '\e80e'; } /* '' */
.icon-rewind:before { content: '\e80f'; } /* '' */
.icon-th-large-outline:before { content: '\e810'; } /* '' */
.icon-th-large:before { content: '\e811'; } /* '' */
.icon-to-end:before { content: '\e812'; } /* '' */
.icon-to-start:before { content: '\e813'; } /* '' */
.icon-music-1:before { content: '\e814'; } /* '' */
.icon-menu-1:before { content: '\f0c9'; } /* '' */
