body{
    background: rgb(84,28,249);
    background: linear-gradient(351deg, rgba(84,28,249,1) 10%, rgba(255,94,60,1) 95%);
}
header{
    background-color: rgba(255, 255, 255, 0.322);

}
.main-contaier{
    background-color: rgba(255, 255, 255, 0.322);
}

.main-contaier{
    padding: 15px 30px 15px 60px;
}

.title-dreameker{
     width: 55%;
     height: 200px;
     margin-bottom: 30px;
}

.title-dreameker h1{
    font-size: 6vw;
}

.title-dreameker h3{
    font-size: 2.5rem;
    color: #C1C0C0;
}
.title-dreameker p{
  width: 50vw;
  font-size: 1.2rem;
}

.creación {
    width: 100%;
    height: 150px;
    margin-top: 8vh;
 }

.line-create {
    display: block;
    background-color: #D3D3D3;
    height: 1px;
    margin-top: 10px;
    width: 98%;
}

.creación h3{
  padding-left: 2%;
  padding-right: 2%;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.7em;
  color: #fff;
}

.line-comp {
    background-color: #d3d3d3e0;
    margin-top: 0.9em;
    width: 90%;
    height: 1px;
}

.linea-opt {
    position: absolute;
    background-color: #fff;
    width: 7%;
    height: 4px;
    margin-top: -2px;
}

.cont-icon {
    margin-left: 1.5em;
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.icon-position{
    text-align: center;
}

.cont-icon h4{
    font-size: 1em;
    text-align: center;}

.cont-icon h3{
    font-size: 2vmin;
    text-align: center;
    font-weight: normal;
}

.icon {
  background-image: url(../../Recursos/Iconos/SVG/Recurso\ 2.svg),
    url(../../Recursos/Imágenes/active-woman-with-snow-white-smile-is-dancing-on-pink-wall-model-in-orange-blouse-listening-to-music.jpg);
    padding: 12vh 13.5vh;
    background-size: 18%, cover;
    background-repeat: no-repeat;
    background-position: bottom left, center center;
    margin-top: 10%;
    display: flex;
}

.icon {
  background-image: url(../../Recursos/Iconos/SVG/Recurso\ ),
    padding: 12vh 13.5vh;
    background-size: 18%, cover;
    background-repeat: no-repeat;
    background-position: bottom left, center center;
    margin-top: 10%;
    display: flex;
}




