*{
    margin: 0%;
    padding: 0%;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

body{
    background: linear-gradient(#0B0F3E, #5D2AEB, #B436D5)
}

body::before{
    content: "";
    background-color: black;
    opacity: 0.33;
    width: 100%;
    height: 100%;
    position: absolute;
}
.big_class{
    position: relative;
    width: 100%;
    height: 910px;
}

/*Partes de la barra lateral ASIDE_LEFT*/
.aside_left{
    float: left;
    width: 14%;
    height: 910px;
    background-color: #5F6FFD;
    position: relative;
}
.logo{
    width: 70%;
    height: 150px;
    font-family:Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    padding-top: 15%;
    margin-bottom: 60%;
    /*border: solid black 1px;*/

}
.logo img{
    width: 58%;
    margin-top: 10%;
    margin-left:  21%;
    margin-right: 21%;
}

.logo h1{
   color:white;
   text-align: center;
   font-weight: bold;
   font-size: 2rem; 
   position: absolute;
}

/*Menu Options
Aqui están las opciones del menú
*/

.menu_options div{
    color: white;
    margin: 1.75rem;
    padding-left: 1.6rem;
    font-weight: normal;
    font-size: 1.10rem;
}

.menu_options i{
    font-size: 1.5rem;
    position: absolute;
    left: 10%;
}
#studios img{
    width: 1.5rem;
    position: absolute;
    left: 10%;
}



/*Ecabezado de la interfaz*/
/*#fondo_1{
    width: 80%;
    height: 200px;
    float: right;
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
}

#fondo_1 img{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    opacity: 0.3;
}

/*BOX_PRINCIPAL cuerpo*/

/*#fondo_2{
    width: 78%;
    height: 500px;
    float: right;
    position: relative;
}

#fondo_2 img{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    opacity: 0.3;
}*/


/*Diseño Resproductor*/
.resproductor{
    width: 100%;
    height: 117px;
    background: #79CEEC;
    position: absolute;
    top: 86%;
    left: 0%;
}

/*play*/

#play img{
    width: 4%;
    position: absolute;
    top: 43%;
    left: 48%;
}

#play img::before{
    content: "";
    background-color: red;
    width: 4%;
    height: 10px;
    position: absolute;
}



#line_down{
    background-color: #25A3C1;
    width: 100%;
    height: 14px;
    position: absolute;
    top: 98%;
}


