.title_library {
  padding-left: 4.5%;
  margin: 35px 10px;
}

.yourLibrary {
  font-size: 6em;
  margin-right: 14px;
}

.name-user-title {
  color: #c4c4c4;
  font-size: 3em;
  padding-bottom: 1.5rem;
}

.list_group {
  display: flex;
  justify-content: center;
}

.list_library {
  padding-left: 2%;
  padding-right: 2%;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
  color: #d3d3d3e0;
}

.line-library {
  background-color: #d3d3d3e0;
  margin-top: 0.9em;
  width: 90%;
  height: 1px;
}

.line-library-select {
  background-color: #fff;
  width: 13%;
  height: 4px;
  margin-top: -2px;
}

.flex-container {
  margin-left: 1.5em;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-item {
  margin-top: 20%;
  margin-right: 10px;
  display: flex;
  font-size: 1.2rem;
  padding: 12vh 12vh;
}

.flex-item {
  background-image: url(../../Recursos/Iconos/SVG/Recurso\ 2.svg),
    url(../../Recursos/Imágenes/young-woman-posing-and-listening-to-music-through-her-pink-headphones.jpg);

  background-size: 30%, cover;
  background-repeat: no-repeat;
  background-position: bottom right, center;
}

.name-list {
  font-size: 1.5em;
  text-align: center;
}

.flex-subcontainer {
  text-align: center;
}

.descrip-list {
  color: #fffa;
}