:root{
    --our-font: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    --border-cont: 1px solid white;
}

/* ----    ----    ---- CAROUSEL ----    ---- ----- */
.contenedor-carrusel{
    margin-top: 50px;
}

/* Titulo del carrucel: Artistas recomendados*/
.descripcion-bottum h2{
    float: left;
    font-size: 2.5vmin;
}

.icon-left-open-mini,
.icon-right-open-mini{
    float: right;
    font-size: 3vmin;
}

/*------------------- Carousel ----------------------------------*/
.contenedor-principal{
    width: 100%;
    padding: 20px 0px;
    overflow: hidden;
    scroll-behavior: smooth;
}

.contenedor-principal .carousel{
    display: flex;
    flex-wrap: nowrap;
}

.carousel .artista{
    min-width: 21%;
    transition: 0.3s ease all;
    margin: 0px 20px;
}

.carousel .artista.hover{
    transform: scale(1.2);
    transform-origin: center;
}
.carousel .artista img{
    width: 100%;
    vertical-align: top;
    border-radius: 15px;
    box-shadow: -3px 3px 6px #000;
    -webkit-box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.733);
}

.carousel .artista h4{
    margin-top: 10px;
    text-align: center;
    font-weight: normal;
}

