:root {
  --our-font: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  --border-cont: 1px solid white;
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}
body {
  height: 100%;
  width: 100%;
  position: relative;

  background: rgb(84, 28, 249);
  background: linear-gradient(
    180deg,
    rgba(84, 28, 249, 1) 10%,
    rgba(255, 94, 60, 1) 95%
  );

  background: linear-gradient(180deg, rgba(255,40,113,1) 0%, rgba(51,7,57,1) 100%);

  background-attachment: fixed;

  overflow-y: hidden;
}

.big-container {
  width: 100%;
  height: 90%;

  display: flex;
  position: relative;
}

.imit-aside {
  width: 232px;
  height: calc(100% - 100px);

  z-index: 0;
}

.main-contaier {
  width: calc(100% - 232px);
  height: calc(99% - 87px);
  background-color: rgba(0, 0, 0, 0.562);

  margin-top: 100px;

  overflow-y: auto;

  scroll-behavior: smooth;
}

.main-contaier::-webkit-scrollbar {
  width: 7px;
}

.main-contaier::-webkit-scrollbar-thumb {
  background-color: #ffffffc9;

}

/*Formato para el aside------------------------------------------------------------------*/
/*lOGO DE dREAMS!*/

.logo_box_aside {
  width: 100%;
  min-width: 232px;
  height: 25%;
  min-height: 200px;
  margin-top: 50px;
}

.logo_box_aside img {
  width: 120px;
  min-width: 120px;
  margin-left: 58px;
  margin-right: 58px;
  margin-top: 18%;
}

.logo_box_aside::before {
  content: "";
  width: 232px;
  height: 25%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
}

/*Menú de Dreams!*/

.main_menu_aside {
  color: rgb(199, 197, 197);
  width: 100%;
  min-width: 232px;
  height: 40%;
  min-height: 300px;
  font-family: var(--our-font);

  margin-top: 10px;
  padding-top: 30px;
  font-size: 1rem;

  font-weight: bold;
}

.main_menu_aside a {
  text-decoration: none;
  color: rgb(199, 197, 197);
  transition: 0.5s;
}

.main_menu_aside i {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1rem;
}
.main_menu_aside div {
  margin-bottom: 1px;
  width: 232px;
  height: 45px;
  padding: 12px 0px;
}

.option :hover {
  color: white;
  transition: 0.5s;
}

/*Pestaña Activida "Inicio"*/

.active-option {
  background-color: rgb(255, 255, 255);
  /*box-shadow: -3px 3px 6px #000;
  -webkit-box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.733);*/
  filter: shadow(color=#000, direction=0, strength=3);

  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.active-option a {
  color: #07175f;
}


/*------------------------------------------------------------header contairne*/

header {
  width: calc(100% - 232px);
  height: 100px;
  position: absolute;
  left: 232px;
  top: 0px;

  position: fixed;

  padding: 20px 10px 30px 65px;

  background-color: rgba(0, 0, 0, 0.562);
  border-top-left-radius: 60px;

  z-index: -1;
}

header.sticky{
  border-top-left-radius: 0px;
}
/*Buscador y menu de opciones ----------------------------------------------------------*/

.searcher-container {
  width: calc(100% - 232px);
  height: 100px;

  position: absolute;
  left: 232px;
  top: 0px;

  position: fixed;

  z-index: 500;
}

.searcher-container input {
  font-family: var(--our-font);
  background-color: white;
  font-size: 11pt;
  color: rgb(99, 99, 99);
  border-radius: 20px;
  width: 33%;
  max-width: 440.55px;

  height: 35px;

  border: none;

  padding: 5px 45px 5px 35px;

  outline: none;

  position: absolute;
  left: 70px;
  top: 38px;
}

.searcher-container #nota {
  position: absolute;
  left: 78px;
  top: 45px;

  color: #878787;
  font-size: 14pt;
}

.searcher-container #menu {
  position: absolute;
  top: 18px;
  left: 95%;

  color: white;
  font-size: 2.54rem;
}

#menu:hover {
  transition: 0.5s;
  opacity: 0.7;
}


/*Adaptación a mi pantalla*/
@media screen and (max-width: 1281px) {
  .line-soft {
    width: 90%;
  }
  .searcher-container #menu {
    left: 91%;
  }
}

/*------------------------- Container Principal----------------------------------------*/

.planet-backg img {
  width: 30%;
  z-index: -1;
  position: absolute;
  top: 74%;
  left: 67%;

  opacity: 0.6;
}

.main-contaier {
  padding: 15px 30px 15px 45px;
  color: white;
  font-family: var(--our-font);
}

.title-name-user {
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: center;

  font-family: var(--our-font);
}

.title-name-user p {
  font-size: 2.5vw;
}

#weilcome {
  color: white;
  font-weight: bold;
  margin-right: 14px;
}
#name-user-title {
  float: right;
  color: #c4c4c4;
}

/*-------------------------------------------------------------------------------------*/
footer {
  width: 100%;
  height: 10%;
  min-height: 90px;
  background-color: #111110ee;

  border-top: rgba(255, 255, 255, 0.425) 0.5px solid;

  position: absolute;
  bottom: 0%;
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.527);
}

.picture-song-footer {
  width: 100px;
  height: 100%;
  margin-right: 1vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.picture-song-footer img {
  height: 70%;
}

/*Inforamción adicional*/

.artist-enojoy {
  color: white;

  width: 10%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  font-family: var(--our-font);
}

.artist-enojoy p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

#enjoy-with {
  font-size: 1.5vh;
}

.more-icons {
  color: white;
  width: 13%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding-right: 10px;
}

.more-icons i {
  font-size: 1.3rem;
  margin-left: 10px;
  cursor: pointer;
}

/*Caja de la línea de tiempo e información de la canción ----------------------------------*/

.line-time-song{
  width: 37%;
  height: 100%;
  font-family: var(--our-font);
}

/*Información del cantante  la canción*/
.center-song {
  width: 100%;
  height: 50%;

  padding-top: 2vh;
}

.center-song p {
  color: white;
}

.center-song i {
  color: white;
  margin-left: 10px;
  margin-top: 0.6%;
  cursor: pointer;

  float: left;
}
#name-song {
  float: left;

  font-weight: 300;
  font-size: 1.3vw;
  font-weight: bold;
  margin-top: 0.5%;
}


#name-artist-2 {
  float: right;

  font-size: 1.2vw;

  margin-top: 1%;
}

@media screen and (min-width: 1615px) {
  #name-song{
    font-size: 1.1vw;
  }
  #name-artist-2{
    font-size: 1vw;
  } 
}

/*Linea de tiempo*/

.center-bar-time {
  width: 100%;
  height: 50%;

  padding: 1vh 0px;
  display: flex;

  color: white;

  font-size: 0.8rem;
}

.bar-time {
  background-color: #707784;
  height: 5px;
  width: 82%;

  margin-top: 5px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 5px;
}

.progress{
  background-color: white;
  height: 5px;
  width: 0%;
  border-radius: 5px;
}

.progress:hover{
  background-color: #7664F9;
}

/*MOnitor del Audio*/

.sound-play {
  color: white;
  width: 13%;
  height: 100%;

  padding-left: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.audio-line {
  background-color: #707784;
  height: 5px;
  width: 60%;
  margin-left: 3px;
  border-radius: 2px;
}

.audio-progres {
  background-color: white;
  height: 5px;
  width: 60%;
  border-radius: 5px;
}


input[type="range"]{
  width: 60%;
  height: 3px;
}

/*Iconos de pausar y activar la canción ---------------------*/

.icons-play-pause {
  color: white;
  font-size: 1.5rem;
  width: 16%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pause{
  display: none;
}

.play-off{
  display: none;
}

.icon-pause-1,
.icon-play-1 {
  font-size: 3.9vw;
  cursor: pointer;
  transition: 0.5s;
}

.icon-to-start-1,
.icon-to-end-1 {
  font-size: 2vw;
}

/*Desaparecer los controles de la etiqueta audio*/

audio{
  display: none;
}

/*Condiciones para el footer*/

@media screen and (max-width: 1092px) {
  .sound-play {
    width: 7%;
    padding-left: 5px;

    font-size: 0.9rem;
  }

  .audio-line {
    display: none;
  }

  .icons-play-pause {
    padding-left: 30px;
  }
  .more-icons i {
    font-size: 0.9rem;
  }

  footer {
    padding-left: 5px;
  }

  .picture-song-footer {
    padding-left: 10px;
    width: 90px;
  }

  .picture-song-footer img {
    height: 65%;
  }
}

@media screen and (max-width: 950px) {
  #enjoy-with {
    font-size: 0.8rem;
  }

  #name-artist {
    font-size: 0.9rem;
  }

  picture-song-footer {
    width: 90px;
  }
}

@media screen and (max-height: 750px) {
  .center-bar-time {
    padding: 7px 0px;
  }
  .center-song {
    padding-top: 18px;
  }
  .center-song {
    padding-top: 12px;
  }
  .center-bar-time {
    padding-top: 5px;
  }
}

/*Contenedor menu*/
.contariner-menu {
  position: relative;
  width: 300px;
  position: absolute;
  right: 0%;
  top: 0%;
  font-family: var(--our-font);
}

/*Barra toggle*/

.menu-dreams-usuario {
  width: 0%;
  height: 90vh;
  position: absolute;
  right: 0%;
  top: 0%;

  opacity: 0;
  transition: all 0.5s;
}

.navegation {
  width: 100%;
  height: 600px;
  margin-top: 100px;
  padding: 8vh 3vw;
}

.menu-dreams-usuario{
  background-color: rgba(0, 0, 0, 0.319);
  -webkit-backdrop-filter: blur(8px);
  -moz-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.navegation li {
  list-style: none;
  height: 85px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.644);
  line-height: 85px;
}

.navegation li a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  width: 100%;
  height: 100%;
  display: block;
  transition: transform 0.6s;
}

.navegation li a:hover {
  opacity: 0.6;
  transform: translate(15px);
}

/*---- Boton--------*/

.contariner-menu input {
  display: none;
}

.toggle-button {
  width: 50px;
  height: 50px;
  cursor: pointer;
  box-sizing: border-box;

  position: absolute;
  right: 30px;
  top: 28px;

  padding: 12.5px 12.5px;

  z-index: 500;
}

.toggle-button span {
  width: 100%;
  display: block;
  transition: all 0.2s ease-out;
}

.open {
  height: 12.5px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-color: transparent;
}

.close {
  height: 1px;
  background-color: white;
  margin-top: 10px;
}

input:checked + .toggle-button .open,
input#abrir-cerrar:checked + .toggle-button .close {
  height: 1px;
  border-bottom: 0;
}

input:checked + .toggle-button .open {
  margin-top: 10px;
  transform: rotate(45deg);
}

input:checked + .toggle-button .close {
  transform: rotate(-45deg);
  margin-top: 0px;
}

input:checked ~ .menu-dreams-usuario {
  opacity: 1;
  width: 100%;
}

/*--------traductor---------------*/
.google {
  position: absolute;
  z-index: 500;
  font-size: 0px;
  border-radius: 36px;
}

.translated-ltr {
  margin-top: -40px;
}
.translated-ltr {
  margin-top: -40px;
}
.goog-te-banner-frame {
  display: none;
  margin-top: -20px;
}

.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  color: transparent !important;
}

.goog-te-combo,
.goog-te-ftab,
.goog-te-menu,
.goog-te-menu2,
.goog-te-balloon {
  background-color: transparent !important;
  color: white;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif !important;
  font-size: 1.5em !important;
}

#google_translate_element_id option {
  color: black;
}


